---
import Profile from '../components/Profile.astro';
import Technologies from '../components/Technologies.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='<MohammedImran />'>
    <main
        class='mx-auto w-full max-w-6xl px-3 py-4 sm:px-6 md:px-6 lg:px-8 grid gap-4 mb-4'
    >
        <div
            class='fixed top-5 left-0 h-20 w-full bg-white transition-colors dark:bg-zinc-800'
        >
        </div>
        <Profile />
        <Technologies />
    </main>
</Layout>
