---
import LandingPageHero from "../components/LandingPageHero.astro";
import MostUsedLanguage from "../components/MostUsedLanguage.astro";
import Technologies from "../components/Technologies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='<MohammedImran />'>
	<main class='mx-auto w-full max-w-6xl px-3 sm:px-6 md:px-6 lg:px-8 grid gap-4 mb-4'>
		<LandingPageHero />
		<MostUsedLanguage />
		<Technologies />

		<div
			class='absolute pointer-events-none inset-x-0 top-full -z-10 max-h-[40rem] transform-gpu overflow-hidden blur-3xl'
			aria-hidden='true'>
			<div
				class='relative left-[calc(80%-11rem)] aspect-[1155/678] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#f890bb] to-[#6a63d1] opacity-30 sm:left-[calc(80%-30rem)]'
				style='clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)'>
			</div>
		</div>
	</main>
</Layout>
