---
import type { TopLangData } from "../utils/fetch-top-languages";
import { trimTopLanguages } from "../utils/utils";

export const prerender = false;
const response = await fetch(new URL("/api/github-projects", Astro.request.url).toString(), {
	headers: { Accept: "application/json" },
});
const data: TopLangData = await response.json();

const { totalLanguageSize, langs } = trimTopLanguages(data, 10, [
	"Vim Script",
	"AutoHotkey",
	"Makefile",
	"Shell",
	"MDX",
]);
---

<div class='px-6 py-4 bg-zinc-900 bg-opacity-80 rounded-sm'>
	<h4 class='text-xl font-bold mb-4'>Most Used Languauge</h4>

	<div class='flex flex-wrap gap-4 max-w-6xl'>
		{
			Object.values(langs).map((value) => (
				<div class='flex gap-2 items-center px-4 py-2 border border-pink-600/50 rounded-sm snap-center'>
					<div class='w-3 h-3 rounded-full' style={{ backgroundColor: value.color }} />
					<p class='whitespace-nowrap'>
						{value.name} - {((value.size / totalLanguageSize) * 100).toFixed(2)} %
					</p>
				</div>
			))
		}
	</div>
</div>
