<div id='technologies' class='prose accent-purple-400 transition-colors dark:prose-invert'>
	<div>
		<h4 class='text-lg'>Languages</h4>

		<ol>
			<li>Javascript / TypeScript</li>
			<li>Rust (Intermidiate)</li>
			<li>Go lang</li>
		</ol>
	</div>

	<div>
		<h4 class='text-lg'>Frameworks for Web</h4>
		<ol>
			<li>
				<a
					target='_blank'
					class='cursor-pointer'
					rel='noreferrer noopener nofollow'
					referrer-policy='no-referrer'
					href='https://astro.build/'>
					Astro
				</a>
			</li>
			<li>
				<a
					target='_blank'
					class='cursor-pointer'
					rel='noreferrer noopener nofollow'
					referrer-policy='no-referrer'
					href='https://nextjs.org/'>
					Next.js
				</a>
			</li>
			<li>
				<a
					target='_blank'
					class='cursor-pointer'
					rel='noreferrer noopener nofollow'
					referrer-policy='no-referrer'
					href='https://kit.svelte.dev/'>
					SvelteKit
				</a>
			</li>
			<li>
				<a
					target='_blank'
					class='cursor-pointer'
					rel='noreferrer noopener nofollow'
					referrer-policy='no-referrer'
					href='https://lit.dev/'>Lit</a
				>
			</li>
			<li>
				<a
					target='_blank'
					class='cursor-pointer'
					rel='noreferrer noopener nofollow'
					referrer-policy='no-referrer'
					href='https://actix.rs/'>Actix</a
				>
			</li>
		</ol>
	</div>

	<div>
		<h4 class='text-lg'>Other</h4>
		<ol>
			<li>Kubernetes</li>
			<li>Docker / Docker Compose</li>
			<li>Apache Kafka</li>
			<li>Nginx</li>
			<li>Postgres</li>
			<li>MongoDB</li>
			<li>Clickhouse</li>
		</ol>
	</div>
</div>
