<div class='flex flex-col gap-8'>
	<div class='px-6 py-4 bg-zinc-900 bg-opacity-80 rounded-sm max-w-6xl w-full overflow-x-scroll'>
		<h3 class='text-xl font-bold mb-4'>Frameworks for Web</h3>

		<ol class='flex flex-wrap gap-4 max-w-6xl overflow-x-scroll'>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm hover:bg-opacity-50'>
				<a
					target='_blank'
					class='whitespace-nowrap rounded focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 px-4 py-2 inline-block focus-visible:outline-indigo-600 cursor-pointer'
					rel='noreferrer noopener nofollow'
					referrer-policy='no-referrer'
					href='https://astro.build/'>
					Astro
				</a>
			</li>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm hover:bg-opacity-50'>
				<a
					target='_blank'
					class='whitespace-nowrap rounded focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 px-4 py-2 inline-block focus-visible:outline-indigo-600 cursor-pointer'
					rel='noreferrer noopener nofollow'
					referrer-policy='no-referrer'
					href='https://nextjs.org/'>
					Next.js
				</a>
			</li>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm hover:bg-opacity-50'>
				<a
					target='_blank'
					class='whitespace-nowrap rounded focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 px-4 py-2 inline-block focus-visible:outline-indigo-600 cursor-pointer'
					rel='noreferrer noopener nofollow'
					referrer-policy='no-referrer'
					href='https://kit.svelte.dev/'>
					SvelteKit
				</a>
			</li>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm hover:bg-opacity-50'>
				<a
					target='_blank'
					class='whitespace-nowrap rounded focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 px-4 py-2 inline-block focus-visible:outline-indigo-600 cursor-pointer'
					rel='noreferrer noopener nofollow'
					referrer-policy='no-referrer'
					href='https://lit.dev/'>Lit</a
				>
			</li>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm hover:bg-opacity-50'>
				<a
					target='_blank'
					class='whitespace-nowrap rounded focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 px-4 py-2 inline-block focus-visible:outline-indigo-600 cursor-pointer'
					rel='noreferrer noopener nofollow'
					referrer-policy='no-referrer'
					href='https://actix.rs/'>Actix</a
				>
			</li>
		</ol>
	</div>

	<div class='px-6 py-4 bg-zinc-900 bg-opacity-80 rounded-sm max-w-6xl w-full overflow-x-scroll'>
		<h3 class='text-xl font-bold mb-4'>Other</h3>
		<ol class='flex flex-wrap gap-4 max-w-6xl overflow-x-scroll'>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm px-4 py-2 hover:bg-opacity-50 whitespace-nowrap'>
				Kubernetes
			</li>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm px-4 py-2 hover:bg-opacity-50 whitespace-nowrap'>
				Docker / Docker Compose
			</li>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm px-4 py-2 hover:bg-opacity-50 whitespace-nowrap'>
				Apache Kafka
			</li>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm px-4 py-2 hover:bg-opacity-50 whitespace-nowrap'>
				Nginx
			</li>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm px-4 py-2 hover:bg-opacity-50 whitespace-nowrap'>
				Postgres
			</li>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm px-4 py-2 hover:bg-opacity-50 whitespace-nowrap'>
				MongoDB
			</li>
			<li
				class='rounded-sm border border-pink-600/50 bg-zinc-900 bg-opacity-20 backdrop-blur-sm px-4 py-2 hover:bg-opacity-50 whitespace-nowrap'>
				Clickhouse
			</li>
		</ol>
	</div>
</div>
