<div class="flex flex-col gap-4">
    <div
        class="px-6 py-4 bg-skin-card rounded-xs max-w-6xl w-full overflow-x-auto"
    >
        <h3 class="text-xl font-bold mb-4">Frameworks for Web</h3>

        <ol class="flex flex-wrap gap-4 max-w-6xl overflow-x-auto">
            <li>
                <a
                    target="_blank"
                    class="border border-skin-accent backdrop-blur-xs hover:bg-opacity-50 whitespace-nowrap rounded-sm focus-outline focus-visible:-outline-offset-2 focus-visible:border-opacity-0 focus-visible:rounded-none inline-block px-4 py-2 cursor-pointer"
                    rel="noreferrer noopener nofollow"
                    referrer-policy="no-referrer"
                    href="https://astro.build/"
                >
                    Astro
                </a>
            </li>
            <li>
                <a
                    target="_blank"
                    class="border border-skin-accent backdrop-blur-xs hover:bg-opacity-50 whitespace-nowrap rounded-sm focus-outline focus-visible:-outline-offset-2 focus-visible:border-opacity-0 focus-visible:rounded-none inline-block px-4 py-2 cursor-pointer"
                    rel="noreferrer noopener nofollow"
                    referrer-policy="no-referrer"
                    href="https://nextjs.org/"
                >
                    Next.js
                </a>
            </li>
            <li>
                <a
                    target="_blank"
                    class="border border-skin-accent backdrop-blur-xs hover:bg-opacity-50 whitespace-nowrap rounded-sm focus-outline focus-visible:-outline-offset-2 focus-visible:border-opacity-0 focus-visible:rounded-none inline-block px-4 py-2 cursor-pointer"
                    rel="noreferrer noopener nofollow"
                    referrer-policy="no-referrer"
                    href="https://kit.svelte.dev/"
                >
                    SvelteKit
                </a>
            </li>
            <li>
                <a
                    target="_blank"
                    class="border border-skin-accent backdrop-blur-xs hover:bg-opacity-50 whitespace-nowrap rounded-sm focus-outline focus-visible:-outline-offset-2 focus-visible:border-opacity-0 focus-visible:rounded-none inline-block px-4 py-2 cursor-pointer"
                    rel="noreferrer noopener nofollow"
                    referrer-policy="no-referrer"
                    href="https://lit.dev/">Lit</a
                >
            </li>
            <li>
                <a
                    target="_blank"
                    class="border border-skin-accent backdrop-blur-xs hover:bg-opacity-50 whitespace-nowrap rounded-sm focus-outline focus-visible:-outline-offset-2 focus-visible:border-opacity-0 focus-visible:rounded-none inline-block px-4 py-2 cursor-pointer"
                    rel="noreferrer noopener nofollow"
                    referrer-policy="no-referrer"
                    href="https://actix.rs/">Actix</a
                >
            </li>
        </ol>
    </div>

    <div
        class="px-6 py-4 bg-skin-card rounded-sm max-w-6xl w-full overflow-x-auto"
    >
        <h3 class="text-xl font-bold mb-4">Other</h3>
        <ol class="flex flex-wrap gap-4 max-w-6xl overflow-x-auto">
            <li
                class="rounded-sm border border-skin-accent px-4 py-2 hover:bg-opacity-50 whitespace-nowrap"
            >
                Kubernetes
            </li>
            <li
                class="rounded-sm border border-skin-accent px-4 py-2 hover:bg-opacity-50 whitespace-nowrap"
            >
                Docker / Docker Compose
            </li>
            <li
                class="rounded-sm border border-skin-accent px-4 py-2 hover:bg-opacity-50 whitespace-nowrap"
            >
                Apache Kafka
            </li>
            <li
                class="rounded-sm border border-skin-accent px-4 py-2 hover:bg-opacity-50 whitespace-nowrap"
            >
                Nginx
            </li>
            <li
                class="rounded-sm border border-skin-accent px-4 py-2 hover:bg-opacity-50 whitespace-nowrap"
            >
                Postgres
            </li>
            <li
                class="rounded-sm border border-skin-accent px-4 py-2 hover:bg-opacity-50 whitespace-nowrap"
            >
                MongoDB
            </li>
            <li
                class="rounded-sm border border-skin-accent px-4 py-2 hover:bg-opacity-50 whitespace-nowrap"
            >
                Clickhouse
            </li>
        </ol>
    </div>
</div>
