<div class='prose -z-10 accent-purple-400 transition-colors dark:prose-invert'>
    <div>
        <h4 class='text-lg'>Languages</h4>
        <ol>
            <li>TypeScript</li>
            <li>Go lang</li>
        </ol>
    </div>

    <div>
        <h4 class='text-lg'>Frameworks for Web</h4>
        <ol>
            <li>Next.js</li>
            <li>SvelteKit</li>
            <li>Astro</li>
            <li>Blitz</li>
            <li>Lit</li>
        </ol>
    </div>

    <div>
        <h4 class='text-lg'>Frameworks for Mobile</h4>
        <ol>
            <li>React Native</li>
        </ol>
    </div>

    <div>
        <h4 class='text-lg'>Other</h4>
        <ol>
            <li>Docker / Docker-Compose</li>
            <li>Apache Kafka</li>
            <li>Nginx</li>
        </ol>
    </div>
</div>
