<div id='technologies' class='prose -z-10 accent-purple-400 transition-colors dark:prose-invert'>
	<div>
		<h4 class='text-lg'>Languages</h4>

		<ol>
			<li>Javascript / TypeScript</li>
			<li>Rust (Intermidiate)</li>
			<li>Go lang</li>
		</ol>
	</div>

	<div>
		<h4 class='text-lg'>Frameworks for Web</h4>
		<ol>
			<li>Next.js</li>
			<li>SvelteKit</li>
			<li>Astro</li>
			<li>Lit</li>
		</ol>
	</div>

	<div>
		<h4 class='text-lg'>Other</h4>
		<ol>
			<li>Kubernetes</li>
			<li>Docker / Docker Compose</li>
			<li>Kubernetes</li>
			<li>Apache Kafka</li>
			<li>Nginx</li>
		</ol>
	</div>
</div>
