---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/base.css";
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en' class='dark'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover, maximum-scale=5' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<link rel='manifest' href='/manifest.json' />
		<meta name='keywords' content='astro, imran, mohammedimran, mohammed imran' />
		<meta name='color-scheme' content='dark' />
		<meta name='author' content='Mohammed Imran' />
		<link rel='author' href='https://www.linkedin.com/in/m0hammedimran' />
		<meta name='description' content="Mohammed Imran's Portfolio website" />

		<meta name='twitter:card' content='https://mohammedimran.com/icons/android-chrome-512x512.png' />
		<meta name='twitter:site' content='https://mohammedimran.com' />
		<meta name='twitter:creator' content='@m0hammed_imran' />
		<meta name='twitter:title' content='Mohammed Imran' />
		<meta name='twitter:description' content="Mohammed Imran's Portfolio website" />
		<meta name='twitter:image' content='https://mohammedimran.com/icons/android-chrome-512x512.png' />

		<meta property='og:type' content='website' />
		<meta property='og:url' content='https://mohammedimran.com' />
		<meta property='og:site_name' content='Mohammed Imran' />
		<meta property='og:title' content='Mohammed Imran' />
		<meta property='og:description' content="Mohammed Imran's Portfolio website" />
		<meta property='og:image' content='https://mohammedimran.com/icons/android-chrome-512x512.png' />
		<link rel='sitemap' href='/sitemap-index.xml' />
		<style>
			html {
				scroll-behavior: smooth;
			}
		</style>

		<!-- Matomo -->
		<script type='application/javascript' async>
			var _paq = (window._paq = window._paq || []);
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(["setCookieDomain", "*.test.mohammedimran.com"]);
			_paq.push(["trackPageView"]);
			_paq.push(["enableLinkTracking"]);
			(function () {
				const baseUrl = "https://lbfactgcp.openturf.dev/analytics";
				_paq.push(["setTrackerUrl", baseUrl + "/matomo.php"]);
				_paq.push(["setSiteId", "23"]);
				const d = document;
				const g = d.createElement("script");
				const s = d.getElementsByTagName("script")[0];
				g.async = true;
				g.src = baseUrl + "/matomo.js";
				s.parentNode.insertBefore(g, s);
			})();
		</script>

		<!-- End Matomo Code -->

		<!-- Start FTreal -->
		<script type='application/javascript' async>
			(function () {
				let a = document.createElement("script");
				let m = document.getElementsByTagName("script")[0];
				a.async = true;
				a.src = "https://s3.us-west-2.amazonaws.com/g1-tracker.factoreal.com/optimus/ftreal.min.js";
				a.onload = function () {
					let ftreal = (window.ftreal = window.ftreal || {});
					ftreal.init("03c20030-aaf1-11ee-bd0a-43c72f62c3ee", true);
				};

				m.parentNode?.insertBefore(a, m);
			})();
		</script>
		<!-- End FTreal -->

		<!-- Start WebPush -->
		<script type='text/javascript' async>
			var _at = {};
			var u = "https://webpush-fat-globalcdn.s3.us-west-2.amazonaws.com/";
			_at.domain = "test.mohammedimran.com";
			_at.idSite = "03c20030-aaf1-11ee-bd0a-43c72f62c3ee";
			(function () {
				var d = document,
					g = d.createElement("script"),
					s = d.getElementsByTagName("script")[0];
				g.type = "text/javascript";
				g.async = true;
				g.src = u + "optimus/fsw.js";
				s.parentNode.insertBefore(g, s);
			})();
		</script>
		<!-- End WebPush -->

		<title>{title}</title>
		<meta name='theme-color' content='' />
		<script is:inline src='/toggle-theme.js'></script>
	</head>

	<body
		class='flex min-h-svh flex-col bg-skin-fill font-mono text-skin-base selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted'>
		<noscript>
			<p>
				<img
					src='https://lbfactgcp.openturf.dev/analytics/matomo.php?idsite=23&rec=1'
					style='border:0;'
					alt=''
				/>
			</p>
		</noscript>

		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
